@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background-image: url("../../../public/images/farmer.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: -1; */
  width: 100%;
  height: 100vh;
  /* padding-top: 20%; */
  /* padding-right: 5px; */
  color: #fff;
}

.header-text {
  font-size: 60px;
  position: relative;
  top: 50px;
  left: 500px;
}


.hero #heading h3 {
  color: #fff;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .margin {
    height: 40vh;
  }
  .hero {
    background-position: right;
    padding-top: 50%;
    height: 80vh;
  }
  .hero .row {
    width: 100%;
  }
}



buttonx {
  padding: 18px 20px;
  background-color: #fff;
  color: #000000;
  font-weight: 800;
  border: none;
  margin: 30px 50px 0 0;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}

buttonx i {
  margin-left: 2px;
}
buttonx:hover {
  box-shadow: none;
}


buttonxx{
  padding: 18px 20px;
  background-color: #fff;
  color: #19358f;
  font-weight: 800;
  border: none;
  margin: 50px 20px 0 0;
  border-radius: 13px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}