
.returnRequests-search-content{
    /* background-color: red; */
    padding: 20px;
    /* max-height: 100%;
    min-height: 30%; */
    height: auto;
    /* overflow-y: auto; */
    margin-top: -25px;
    transition: left 0.3s;
    width: 90%;
  }
  
  /* Styling for the form */
  .returnRequests-search-content .form {
    display: flex;
    flex-wrap: wrap;/* Wrap items in rows */
    margin: 0 auto;
    background-color: white;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    border-radius: 10px;
  }
  
  
  .returnRequests-search-content .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #ff0000; */
    max-height: 100px;
     
  }
  .returnRequests-search-content .row:last-child {
    display: block;
    justify-content: flex-end; /* Align buttons to the right */
     margin-top: 10px; 
  }  
  
  .returnRequests-search-content .section {
    flex: 1;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* background-color: white; */
     height: 60px; 
    width: 150px;
    
    
  }
  
  .returnRequests-search-content
  input[type="text"],
  select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
  }

  .returnRequests-search-content
  .dropdown-select {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: white; 
    color: #000; /* Text color */
    font-size: 16px; 
    position: relative;
  }
  
  .returnRequests-search-content
  .dropdown-select::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Prevents click events on the arrow */
    /* top: calc(100% - 10px); Position arrow at the bottom of the select */
    
  }


  .returnRequests-search-content button {
    padding: 12px 20px;
    /* margin: 10px 10px; */
    /* border: none; */
    /* cursor: pointer; */
    display: inline-block;
    width: 150px;
    /* height: 100px; */
    border-radius: 5px;
    margin-left: 30px;
  }
  
  .returnRequests-search-content .search-button {
    background-color: green;
    font-size: 16px;
  }
  
  .returnRequests-search-content .clear-button {
    background-color: white;
    border: 2px solid green;
    font-size: 16px;
  }
  
  
  .returnRequests-search-content .date-picker-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .returnRequests-search-content .date-picker-container .calendar-icon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Additional styles for the date picker library */
  .returnRequests-search-content .react-datepicker__input-container {
    display: block;
   
  }
  
 
  .returnRequests-Listing {
    background-color: white; 
    border: 1px solid #ccc;  
    padding: 20px; 
    height: auto;
    width: 87%;
    overflow: auto;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    border-radius: 10px;
  }
  
  .returnRequests-Listing .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: aquamarine; */
   
  }
  
  
  
  .returnRequests-Listing .row .table-scroll {
      /* background-color: rgb(244, 187, 187); */
        display: table;
        border-collapse: separate; 
        box-sizing: border-box;
        text-indent: initial;
        border-spacing: 10px;
        margin: 0 auto;
        /* -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; */
        max-width: 100%;
        width: 100%;
        height: 10%;
        table-layout: fixed;
  }
  
  /* .orders-Listing .row .table-scroll thead {
    display: table-header-group;
    vertical-align: middle;
    
  
  } */
  /* .orders-Listing .row  .table-scroll thead tr{
      
      display: table-row;
      
  } */
      
  .returnRequests-Listing .row .table-scroll thead th{
      font-weight: bold;
      margin-left: 5px;
      border-bottom: solid 1px #dee2e6;
      text-align: left;
      /* background-color: red; */
       width:15px;
      /* height: 10px; */ 
      
  }
  
  .returnRequests-Listing .row .block-empty-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .returnRequests-Listing .row .block-empty-text-center .block_img{
    width:150px;
    height: 150px;
    margin: 0 auto; 
    display: block;
    }
    
  .returnRequests-Listing .row .block-empty-text-center h5{
     margin-top: 10px;
     margin-left: 0;
     color: black;
    }



