.container1{
    width: 600px;
    height: 800px;
    margin: auto;
    margin-top: 75px;
    border-radius: 10px;
    background:  rgba(225,225,225,0.18);
    box-shadow:  0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(225,225,225,0.18); 
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}
.top-bar input{
    display: flex;
    width: 362px;
    height: 40px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 42px;
    background: #ebfffc;
    border-radius: 50px;
    cursor: pointer;
}

.weather-image{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
    
}

.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data{
    font-size: 34px;
    font-weight: 400;
}

.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 10px;
}